body {
    background-color: rgba(75, 117, 255, 0.884);

}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: crimson;
    text-align: center;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: crimson;
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: crimson;
    text-align: center;
}

#salutation {
    background-color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
}

.show {
    font-family: 'Trade Winds', cursive;
    font-size: 100px;
    color: crimson;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 215px;
}

.flex-container>div {
    border: solid;
    border-color: crimson ;
    margin: 50px;
    padding: 0 16px;
    text-align: center;
}

.right-question:hover {
    background-color: rgb(15, 255, 15);
}

.wrong-question:hover {
    background-color: #ff1717;
}

.right-question:hover p {
    color: white;
}   

.wrong-question:hover p {
    color: white;
}

.right-question:hover .result {
    color: white;
}   

.wrong-question:hover .result {
    color: white;
}
